<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 네트워크 상태 확인을 위한 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name="com.donglab.crash.internal.CrashActivity"
            android:exported="false"
            android:theme="@style/Theme.CrashActivity" />
    </application>

</manifest>
